.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: column;

  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center; */
  margin: 0 10px;
  overflow-x: auto;
  min-height: 90vh;
}

.task-column {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 348px;
}
