.task-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: column;

  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center; */
  margin: 0 10px;
  overflow: auto;
  /* height: 100%; */
  /* max-height: 50vh; */
}

.task-column {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  min-width: 348px;
}

@media screen and (max-width: 768px) {
  .task-grid {
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
  }

  .task-column {
    min-width: 268px;
  }
}
