.main-button {
  border-radius: 8px;
  padding: 8px;
  background-color: var(--color-primary-4);
  color: var(--color-neutral-1);
  border: none;
}

.main-button:hover {
  background-color: var(--color-primary-3);
}

.primary-color {
  color: var(--color-primary-4);
}
