@if(appStore.smallScreen()) {
<div class="d-flex small-screen align-items-center">
  <app-avatar (click)="openSidebar()" [size]="40"> </app-avatar>

  <div class="ms-auto">
    <mat-icon (click)="openSearchModal()" [matBadge]="taskStore.filtersCount()"
      [matBadgeHidden]="!taskStore.filtersCount()" class="me-3">search</mat-icon>
    <mat-icon [matBadge]="taskStore.getNumberNotifications()"
      [matBadgeHidden]="!taskStore.getNumberNotifications()">notifications</mat-icon>
  </div>
</div>
} @else {
<div class="search-bar-container">
  <mat-form-field subscriptSizing="dynamic" class="w-100 search-bar">
    <mat-icon matPrefix>search</mat-icon>
    <input (change)="onNameChange()" (keyup)="onNameChange()" matInput placeholder="Search" [formControl]="searchText">

    <div class="search-bar-suffix" matSuffix>
      @if(searchText.value) {
      <mat-icon (click)="clearNameFilter()" class="me-2">cancel</mat-icon>
      }
      <mat-icon class="me-2" [matBadge]="taskStore.getNumberNotifications()"
        [matBadgeHidden]="!taskStore.getNumberNotifications()">notifications</mat-icon>
      <app-avatar [size]="40"> </app-avatar>
    </div>
  </mat-form-field>
</div>

<app-search-filter-bar></app-search-filter-bar>
}